body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;

    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #333;
}

.interstitial-wrapper {
    width: 600px;
    height: 150px;
}

#offline-resources {
    display: none;
}

button {
    padding: 1.5em 4em;
    border: none;
    margin-top: 100px;
    font: inherit;
    color: inherit;
    background-color: #ffeb3b;
    cursor: pointer;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
